{% extends "base.html" %}
{% load static %}
{% load add_class %}

{% block title %}Вход{% endblock %}
{% block description %}Проверка{%endblock %}

{% block content %}

<div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><i class="fas fa-user-secret"></i> Проверка</h4>
      </div>
      <div class="card-body">

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card card-attention">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <h4 class="card-title text-info">Введите код который был отправлен на почту <span class="card-title gradient-right">{{ email }}</span></h4>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <hr class="under-info" style="width: 50%;">
            </div>
              <form method="POST">
                {% csrf_token %}
                <div class="col-md-4 ms-auto me-auto">
                  <input class="form-control input-field text-center type="text" name="otp" id="id_otp" required>
                  <div class="text-center">
                    <button class="btn btn-primary mt-3" type="submit">Подтвердить</button>
                  </div>
                </div>
              </form>
              {% if error %}
              <div class="d-flex justify-content-center">
                <h4 class="card-title text-info text-danger">Неверный код</h4>
              </div>
              {% endif %}
          </div>
        </div>
      </form>

      </div>
    </div>
</div>

{% endblock %}

