{% extends "base.html" %}
{% load static %}
{% load add_class %}

{% block title %}Вход / Регистрация{% endblock %}
{% block description %}Войти в аккаунт или зарегистрироваться{%endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-round" style="background-color: aliceblue;">
      <div class="card-header">
        <div class="card-head-row card-tools-still-right">
          <h4 class="card-title gradient-right">Вход</h4>
        </div>
      </div>

      {% if request.user.is_authenticated %}
      <div class="card-body d-grid gap-3 justify-content-center text-center">
        <div class="col">
          <h1>Вы уже зарегистрированы как {{ request.user.profile.nickname }}</h1>
          <h2>Выйти?</h2>
        </div>

        <div class="col">
          <a href="{% url 'logout' %}" style="color: whitesmoke;">
            <button class="btn btn-danger">Да</button>
          </a>
        </div>
        
        <div class="col">
          <a href="{% url 'home' %}" style="color: whitesmoke;">
            <button class="btn btn-primary">Вернуться домой</button>
          </a>
        </div>
      </div>

      {% else %}

      <div class="card-body d-flex justify-content-center">
          <form class="row g-3" method="POST">
            {% csrf_token %}
            {% for field in login_form %}
              <div class="row-md-4">
                <div class="form-label">{{ field.label_tag }}</div>
                {{ field|add_class:"form-control" }}
              </div>
            {% endfor %}

            {% if reg_form.errors %}
              {{ reg_form.errors }}
            {% endif %}

            <div class="col-12">
              <button class="btn btn-primary" type="submit" value="Login">Войти</button>
              <button class="btn btn-primary"><a href="{% url 'register' %}" style="color: whitesmoke;">Зарегистрироваться</a></button>
            </div>
            
          </form>
          
        </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
