{% extends "base.html" %}
{% load static %}
{% load replace %}

{% block title %}
  {% if request.user.password == user.password %}
    Мой профиль
  {% else %}
    Профиль студента {{ user.username }}
  {% endif %}
{% endblock %}
{% block description %}{{ user.profile.description|default:""|truncatewords:20 }}{%endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-head-row card-tools-still-right">
        {% if request.user.password == user.password %}
        <h4 class="card-title gradient-right">Мой Профиль</h4>
        {% else %}
        <h4 class="card-title gradient-right">Профиль {{ user.username }}</h4>
        {% endif %}
      </div>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-4">
          <div class="card card-attention">
            <div class="card-body">
              <div class="avatar-container">
                <div class="avatar avatar-xl avatar-img">
                  {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle img-fluid border border-slimegreen">
                  {% else %}
                    <img src="{% static 'img/noavatar.png' %}" class="rounded-circle img-fluid border border-slimegreen">
                  {% endif %}
                </div>
              </div>
              <div class="profile-info">
                <h2 class="card-title gradient-right">{{ user.profile.nickname }}</h2>
                <p style="color: aliceblue;">{{ user.profile.description|default:"Нет описания" }}</p>
              </div>
            </div>
          </div>

          <div class="card card-attention">
            <div class="card-body">
              <h2 class="h5 gradient-right">
                <a href="{% url 'friends_list' pk=user.pk %}">
                  <i class="fas fa-user-friends"></i>
                  {% if user.profile.friends.all|length %}
                  Друзья {{ user.profile.friends.all|length }}
                  {% else %}
                    {% if request.user.password == user.password %}
                    У вас пока еще нет друзей
                    {% else %}
                    У пользователя пока нет друзей
                    {% endif %}
                  {% endif %}
                </a>
              </h2>
              <div class="avatar-group">
                {% for friend in user.profile.friends.all %}
                  {% if forloop.counter < 13 %}
                    <div class="avatar avatar-xs">
                      {% if friend.avatar %}
                        <img class="avatar-thumbnail rounded-circle border border-slimegreen" src="{{ friend.avatar.url }}" alt="">
                      {% else %}
                        <img class="avatar-thumbnail rounded-circle border border-slimegreen" src="{% static 'img/noavatar.png' %}">
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
                {% if user.profile.friends.count > 12 %}
                  <div class="avatar avatar-xs">
                    <div class="avatar-thumbnail rounded-circle border border-white d-flex align-items-center justify-content-center uncounted-members">
                      +{{ user.profile.friends.count|add:-12 }}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          {% if request.user.password == user.password %}
          <div class="card card-attention">
            <div class="card-body">
              <h2 class="h5 gradient-right">Почта</h2>
              <span class="h4 card-title">{{ user.email }}</span>
            </div>
          </div>
          {% else %}
          <div class="d-flex justify-content-center mb-4">
            {% if user.profile in request.user.profile.friends.all %}
            <a href="{% url 'remove_friend' pk=user.pk %}">
              <button class="btn btn-danger"><i class="fas fa-user-slash"></i> Удалить из друзей</button>
            </a>
            {% else %}
            <a href="{% url 'add_friend' pk=user.pk %}">
              <button class="btn btn-primary"><i class="fas fa-user-plus"></i> Добавить в друзья</button>
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>

        <div class="col-md-8">
          <div class="card card-attention">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <div>
                    <h2 class="h5 gradient-right">Имя</h2>
                    <span class="h4 text-white">{{ user.profile.name|default:"-" }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Фамилия</h2>
                    <span class="h4 text-white">{{ user.profile.surname|default:"-" }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Отчество</h2>
                    <span class="h4 text-white">{{ user.profile.lastname|default:"-" }}</span>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <h2 class="h5 gradient-right">Telegram</h2>
                    <span class="h4 text-white">{{ user.profile.nickname_tg|default:"-" }}</span>
                    <hr class="under-info"">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Discord</h2>
                    <span class="h4 text-white">{{ user.profile.nickname_ds|default:"-" }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Создан</h2>
                    <span class="h4 text-white">{{ user.profile.created_at|date:"d.m.Y" }}</span>
                  </div>
                </div>
                <div class="row-md-3 mt-4">
                  <hr class="under-info" style="width: 100%;">
                  <h2 class="h5 gradient-right">Учится в</h2>
                  <span class="h5 text-white">{{ user.profile.study_at|default:"-" }}</span>
                </div>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="card card-attention">
                <div class="card-body">
                  <div class="row">
                      <div>
                        <h2 class="h5 text-white gradient-right">Имя</h2>
                        <span class="h4 text-white">{{ user.profile.name|default:"-" }}</span>
                        <hr class="under-info" style="width: 50%;">
                      </div>
                      <div>
                        <h2 class="h5 text-white gradient-right">Фамилия</h2>
                        <span class="h4 text-white">{{ user.profile.surname|default:"-" }}</span>
                        <hr class="under-info" style="width: 60%;">
                      </div>
                      <div>
                        <h2 class="h5 text-white gradient-right">Отчество</h2>
                        <span class="h4 text-white">{{ user.profile.lastname|default:"-" }}</span>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card card-attention">
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h2 class="h5 gradient-right">Интересы</h2>
                      {% for tag in user.profile.interests.all %}
                      <span class="h4 gradient-right">#{{ tag }}</span>
                      {% if not forloop.last %}
                        <hr class="under-info" style="width: 25%;">
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if request.user.password == user.password %}
          <div class="d-flex justify-content-center">
            <div class="p-2">
              <a href="{% url 'profile_edit' %}">
                <button class="btn btn-primary">Редактировать Профиль</button>
              </a>
            </div>
            <div class="p-2">
              <a href="{% url 'logout' %}">
                <button class="btn btn-danger">Выйти</button>
              </a>
            </div>
          </div>
          {% else %}
            {% if user.profile.nickname_tg %}
            <div class="d-flex justify-content-center">
              <a href="https://t.me/{{ user.profile.nickname_tg|replace:'@,' }}">
                <button class="btn btn-primary"><i class="fab fa-telegram-plane"></i> Написать в Telegram</button>
              </a>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
