{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}
{% block description %}Home description{%endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-head-row card-tools-still-right">
        <h4 class="card-title gradient-right">Мой Профиль</h4>
      </div>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-4">
          <div class="card card-attention">

            <div class="card-body">
              <div class="avatar-container">
                <div class="avatar avatar-xl avatar-img">
                  {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle img-fluid">
                  {% else %}
                    <img src="{% static 'img/noavatar.png' %}" class="rounded-circle img-fluid">
                  {% endif %}
                </div>
              </div>
              <div class="profile-info">
                <h2 class="card-title gradient-right">{{ user.profile.nickname }}</h2>
                <p style="color: aliceblue;">
                  {% if user.profile.description %}
                      {{ user.profile.description }}
                    {% else %}
                      No description
                    {% endif %}
                </p>
              </div>
            </div>

          </div>

          <div class="card card-attention">
            <div class="card-body">
              <h2 class="h5 gradient-right">Почта</h2>
              <span class="h4 card-title">{{ user.email }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card card-attention">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <div>
                    <h2 class="h5 gradient-right">Имя</h2>
                    <span class="h4 text-white">{{ user.profile.name }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Фамилия</h2>
                    <span class="h4 text-white">{{ user.profile.surname }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Отчество</h2>
                    <span class="h4 text-white">{{ user.profile.lastname }}</span>
                  </div>
                </div>
                <div class="col">
                  <div>
                    <h2 class="h5 gradient-right">Telegram</h2>
                    <span class="h4 text-white">{{ user.profile.nickname_tg }}</span>
                    <hr class="under-info"">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Discord</h2>
                    <span class="h4 text-white">{{ user.profile.nickname_ds }}</span>
                    <hr class="under-info">
                  </div>
                  <div>
                    <h2 class="h5 gradient-right">Создан</h2>
                    <span class="h4 text-white">{{ user.profile.created_at|date:"d.m.Y" }}</span>
                  </div>
                </div>
                <div class="row-md-3 mt-4">
                  <hr class="under-info" style="width: 100%;">
                  <h2 class="h5 gradient-right">Учится в</h2>
                  <span class="h5 text-white">{{ user.profile.study_at }}</span>
                </div>
              </div>

            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="card card-attention">
                <div class="card-body">
                  <div class="row">
                      <div>
                        <h2 class="h5 text-white gradient-right">Имя</h2>
                        <span class="h4 text-white">{{ user.profile.name }}</span>
                        <hr class="under-info" style="width: 50%;">
                      </div>
                      <div>
                        <h2 class="h5 text-white gradient-right">Фамилия</h2>
                        <span class="h4 text-white">{{ user.profile.surname }}</span>
                        <hr class="under-info" style="width: 60%;">
                      </div>
                      <div>
                        <h2 class="h5 text-white gradient-right">Отчество</h2>
                        <span class="h4 text-white">{{ user.profile.lastname }}</span>
                        <hr class="under-info" style="width: 70%;">
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card card-attention">
                <div class="card-body">
                  <div class="row">
                    <div>
                      <h2 class="h5 gradient-right">Интересы</h2>
                      {% for tag in user.profile.interests.all %}
                      <span class="h4 gradient-right">#{{ tag }}</span>
                      {% if not forloop.last %}
                        <hr class="under-info" style="width: 25%;">
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if request.user.password == user.password %}
          <div class="d-flex justify-content-center">
            <div class="p-2">
              <a href="{% url 'profile_edit' %}">
                <button class="btn btn-primary">Редактировать Профиль</button>
              </a>
            </div>
            <div class="p-2">
              <a href="{% url 'logout' %}">
                <button class="btn btn-danger">Выйти</button>
              </a>
            </div>
          </div>
          {% else %}
            {% if user.profile.nickname_tg %}
            <div class="d-flex justify-content-center">
              <a href="https://t.me/{{ user.profile.nickname_tg }}">
                <button class="btn btn-primary"><i class="fab fa-telegram-plane"></i> Написать в Telegram</button>
              </a>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
