{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}
{% block description %}Home description{%endblock %}

{% block content %}

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-head-row card-tools-still-right">
        <h4 class="card-title">You Profile</h4>
      </div>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-4">
          <div class="card card-attention">

            <div class="card-body">
              <div class="avatar-container">
                {% if user.is_authenticated %}
                <div class="avatar avatar-xl avatar-img">
                  {% if user.profile.avatar %}
                    <img src="{{ user.profile.avatar.url }}" alt="Avatar" class="rounded-circle img-fluid">
                  {% else %}
                    <img src="{% static 'img/noavatar.png' %}" alt="Avatar" class="rounded-circle img-fluid">
                  {% endif %}
                </div>
                {% else %}
                <a href="{% url 'sign_up' %}">
                  <i class="fas fa-sign-in-alt"></i>
                  <p>Login / Register</p>
                </a>
                {% endif %}
              </div>
              <div class="profile-info">
                <h2 class="card-title">{{ user.profile.nickname }}</h2>
                <p style="color: aliceblue;">
                  {% if user.profile.description %}
                      {{ user.profile.description }}
                    {% else %}
                      No description
                    {% endif %}
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="col-md-8">
          <div class="card card-attention">
            <div class="card-body">
              <div class="form-group">
                <label for="first_name">Имя:</label>
                <input type="text" class="form-control" id="first_name" value="{{ user.profile.name|default:"" }}" readonly>
              </div>

              <div class="form-group">
                <label for="last_name">Фамилия:</label>
                <input type="text" class="form-control" id="last_name" value="{{ user.profile.surname|default:"" }}" readonly>
              </div>
              <div class="form-group">
                <label for="middle_name">Отчество:</label>
                <input type="text" class="form-control" id="middle_name" value="{{ user.profile.lastname|default:"" }}" readonly>
              </div>
              <div class="form-group">
                <label for="telegram_nickname">Ник в Telegram:</label>
                <input type="text" class="form-control" id="telegram_nickname" value="{{ user.profile.nickname_tg|default:"" }}" readonly>
              </div>
              <div class="form-group">
                <label for="platform_nickname">Ник на платформе:</label>
                <input type="text" class="form-control" id="platform_nickname" value="{{ user.profile.nickname_ds|default:"" }}" readonly>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-attention">
            <div class="card-body">
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" value="{{ user.email }}" readonly>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center">

            <div class="p-2">
              <a href="{% url 'profile_edit' %}">
                <button class="btn btn-primary">Edit profile</button>
              </a>
            </div>
            <div class="p-2">
              <a href="{% url 'logout' %}">
                <button class="btn btn-danger">Logout</button>
              </a>
            </div>
            <div class="p-2">
              <a href="{% url 'profile_edit' %}">
                <button class="btn btn-danger">...</button>
              </a>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
