{% extends "base.html" %}
{% load static %}

{% block title %}Школа 21 Connect - Главаная{% endblock %}
{% block description %}Главаная страница портала Школа 21 Connect{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="mt-4 gradient-right text-center" style="font-size: 35px; font-weight: bold;">Часто задаваемые вопросы</h1>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;">Как создать аккаунт?</h5>
                    <p class="card-text text-white h5">Чтобы создать учетную запись, нажмите на кнопку "Регистрация" в правом верхнем углу страницы. Заполните необходимые поля, такие как имя, адрес электронной почты и пароль, затем нажмите "Создать учетную запись". Вам будет отправлено письмо для подтверждения регистрации.</p>
                </div>
            </div>
            <!-- <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;">Как поменять пароль?</h5>
                    <p class="card-text text-white h5">Нажмите "Забыли пароль?" на странице входа и следуйте инструкциям.</p>
                </div>
            </div> -->
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;">Как я могу изменить свои личные данные?</h5>
                    <p class="card-text text-white h5">Чтобы изменить личные данные, войдите в свою учетную запись и перейдите в раздел "Настройки профиля". Здесь вы сможете обновить информацию, такую как имя, адрес электронной почты и пароль.</p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;"> Как создать группу? </h5>
                    <p class="card-text text-white h5"> Чтобы создать группу, войдите в свою учетную запись и перейдите в раздел "Группы". Нажмите на кнопку "Создать группу", заполните необходимые поля, такие как название группы, описание и настройки конфиденциальности. После этого нажмите "Создать", и ваша группа будет готова!</p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;"> Как отредактировать группу? </h5>
                    <p class="card-text text-white h5"> тобы отредактировать группу, перейдите в раздел "Мои группы" и выберите группу, которую хотите изменить. Нажмите на кнопку "Редактировать" и внесите необходимые изменения, такие как название, описание или настройки. После завершения нажмите "Сохранить изменения". </p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;"> Как найти группу? </h5>
                    <p class="card-text text-white h5"> Чтобы найти группу, используйте строку поиска в верхней части страницы. Введите название группы или ключевые слова, связанные с ней. </p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;"> Как посмотреть участников группы? </h5>
                    <p class="card-text text-white h5"> Чтобы посмотреть участников группы, перейдите в нужную группу и нажмите на вкладку "Участники". Здесь вы увидите список всех участников, а также сможете просмотреть их профили, если это разрешено настройками группы. </p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;"> Зачем нужны интересы? </h5>
                    <p class="card-text text-white h5"> Интересы помогают пользователям находить людей и группы с похожими увлечениями и хобби. Указывая свои интересы, вы можете легко соединяться с единомышленниками, участвовать в обсуждениях и находить сообщества, которые соответствуют вашим предпочтениям. Это создает более насыщенный и персонализированный опыт общения на платформе, позволяя вам расширять круг общения и находить новых друзей. </p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;">Как связаться с поддержкой?</h5>
                    <p class="card-text text-white h5">Напишите нам на support@example.com или используйте форму обратной связи на сайте.</p>
                </div>
            </div>
            <div class="card card-attention">
                <div class="card-body">
                    <h5 class="card-title gradient-right" style="font-size: 25px;">Контакты поддержки</h5>
                    <p class="card-text text-white h5">Если у вас есть дополнительные вопросы, пожалуйста, свяжитесь с нами:</p>
                    <p class="text-white h5">Email: <a class="h5 text-primary" href="mailto:support@example.com">support@example.com</a></p>
                    <!-- <p class="text-white h5">Телефон: +7 (000) 000-00-00</p> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}