{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}
{% block description %}Home description{%endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Школа 21</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
         .header {
            background-image: linear-gradient(rgba(29, 38, 51, 0.65), rgba(29, 38, 51, 0.65)), url('{% static "img/ZcTudE59X68mZUHeSVY7-1060x600.jpeg" %}');
            background-size: cover;
            background-position: center;
            color: white;
            padding: 40px;
            text-align: left;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Школа 21</h1>
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="p-0"><h2><span class="gradient-bottom">Connect</span></h2>
                            <p class="slogan"><span class="gradient-right">Знакомтесь</span>, <span class="gradient-right">общайтесь</span>, <span class="gradient-right">собирайтесь</span></p>   
                            <p class="slogan-small">Всё в одном месте</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-0">
                            <h2 class="right-align">От</h2>
                            <div class="bg-white" style="height: 3px;"></div>
                            <h2 class="right-align">Сбера</h2>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn">Войти</button>
        </div>
        <div class="">
            <div class="card card-attention mt-4">
                <div class="card-body">
                    {% for group in groups %}
                    <div class="">
                    <div class="card card-attention">
                        <div class="card-body user-card">
            
                            <div class="avatar avatar-xxl">
                            {% if group.icon %}
                                <img class="avatar-xxl rounded-circle" src="{{ group.icon.url }}" alt="">
                            {% else %}
                                <img class="avatar-xxl rounded-circle" src="{% static 'img/noicon.png' %}" alt="">
                            {% endif %}
                            </div>
                            <div class="user-info">
                            <a href="{% url 'group_detail' pk=group.pk %}"><span class="card-title">
                            {% if group.created_by == user %}
                                <i class="fas fa-chess-king"></i>
                            {% endif %}
                                {{ group.name }}</span>
                            </a>
                            <span class="card-text" style="color: azure; font-size: 15px;">{{ group.description|truncatewords:20 }}</span>
                            <span class="card-text" style="color: azure; font-size: 15px;">{{ group.created_at }}</span>
                            <p class="card-category">{% for tag in group.tags.all %}#{{ tag }} {% endfor %}</p>
                            </div>
            
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}
