{% extends "base.html" %}
{% load static %}

{% block title %}Search Results{% endblock %}
{% block description %}Search results{%endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header">
        <div class="card-head-row card-tools-still-right">
          <h4 class="card-title">Users</h4>
        </div>
        {% if users %}
        <p class="card-category">
          Results for {{ search_query }}
        </p>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row">
        {% if users %}
        {% for user in users %}

        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card card-attention">
              <div class="card-body user-card">

                <div class="avatar avatar-xxl">
                  {% if user.profile.avatar %}
                    <img class="avatar-xxl rounded-circle" src="{{ user.profile.avatar.url }}" alt="">
                  {% else %}
                    <img class="avatar-xxl rounded-circle" src="{% static 'img/noavatar.png' %}" alt="">
                  {% endif %}
                </div>
                <div class="user-info">
                  <span class="card-title"></span>
                  <a href="{% url 'profile_detail' pk=user.pk %}"><span class="card-title">{{ user.profile.nickname }}</span></a>

                  
                  <span class="card-text" style="color: azure; font-size: 15px;">
                    {% if user.profile.description %}
                      {{ user.profile.description|truncatewords:15 }}
                    {% else %}
                      {{ user.profile.created_at }}
                    {% endif %}
                  </span>
                  <p class="card-category">{% for tag in user.profile.interests.all %}#{{ tag }} {% endfor %}</p>
                </div>

              </div>

          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center mb-3">
          <h4 class="card-title gradient-right">По вашему запросу <i>{{ search_query }}</i> ничего не найдено</h4>
        </div>
        {% endif %}
      </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
