{% load static %}

<div class="sidebar sidebar-style-2" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="{% url 'home' %}" class="logo">    
        <img src="{% static 'img/logo-text.png' %}" alt="navbar brand" class="navbar-brand" height="50"/>
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <li class="nav-item">
          <a href="{% url 'home' %}">
            <i class="fas fa-home"></i>
            <p>Главная</p>
          </a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#groups">
            <i class="fas fa-users"></i>
            <p>Группы</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="groups">
            <ul class="nav nav-collapse">
              <li>
                <a href="{% url 'find_groups' %}">
                  <span class="sub-item">Найти группы</span>
                </a>
              </li>
              <li>
                <a href="{% url 'my_groups' %}">
                  <span class="sub-item">Мои группы</span>
                  <span class="badge badge-success">{{ request.user.group_members.all|length }}</span>
                </a>
              </li>
              <li>
                <a href="{% url 'create_group' %}">
                  <span class="sub-item">Создать группу</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- <li class="nav-item">
          <a data-bs-toggle="collapse" href="#people">
            <i class="fas fa-user-friends"></i>
            <p>People</p>
          </a>
        </li> -->

        <li class="nav-item">
          <a href="https://21-school.ru/">
            <i class="fas fa-globe"></i>
            <p>Наш сайт</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'help' %}">
            <i class="fab fa-sticker-mule"></i>
            <p>Помощь</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'about' %}">
            <i class="far fa-question-circle"></i>
            <p>О проекте</p>
          </a>
        </li>
        
        <li class="nav-item register">
        {% if request.user.is_authenticated %}
          <a href="{% url "my_profile" %}">
            <div class="avatar avatar-xs">
              {% if request.user.profile.avatar %}
                <img src="{{ request.user.profile.avatar.url }}" class="avatar-thumbnail rounded-circle border border-slimegreen">
              {% else %}
                <img src="{% static 'img/noavatar.png' %}"class="avatar-thumbnail rounded-circle border border-slimegreen">
              {% endif %}
            </div>
            <p style="margin-left: 12px;">Мой профиль</p>
          </a>
        {% else %}
          <a href="{% url "sign_up" %}">
            <i class="fas fa-sign-in-alt"></i>
            <p>Вход</p>
          </a>
        {% endif %}
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

