{% load static %}

<div class="sidebar sidebar-style-2" data-background-color="dark">
  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'img/kaiadmin/logo_light.svg' %}" alt="navbar brand" class="navbar-brand" height="20" />
      </a>
      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">

        <li class="nav-item">
          <a href="{% url 'home' %}">
            <i class="fas fa-home"></i>
            <p>Home</p>
          </a>
        </li>
        <!-- <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>
          <h4 class="text-section">Components</h4>
        </li> -->
        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#groups">
            <i class="fas fa-users"></i>
            <p>Groups</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="groups">
            <ul class="nav nav-collapse">
              <li>
                <a href="components/avatars.html">
                  <span class="sub-item">Find Groups</span>
                </a>
              </li>
              <li>
                <a href="components/buttons.html">
                  <span class="sub-item">My Groups</span>
                  <span class="badge badge-success">0</span>
                </a>
              </li>
              <li>
                <a href="components/gridsystem.html">
                  <span class="sub-item">Create Group</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a data-bs-toggle="collapse" href="#people">
            <i class="fas fa-user-friends"></i>
            <p>People</p>
          </a>
        </li>

        
        <li class="nav-item">
          <a href="../../documentation/index.html">
            <i class="fas fa-globe"></i>
            <p>Out Site</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="../../documentation/index.html">
            <i class="fab fa-sticker-mule"></i>
            <p>Help</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="widgets.html">
            <i class="far fa-question-circle"></i>
            <p>About</p>
          </a>
        </li>
        
        <li class="nav-item register">
        {% if request.user.is_authenticated %}
          <a href="{% url "my_profile" %}">
            <!-- <i class="fas fa-user"></i> -->
            <div class="avatar avatar-xs">
              {% if request.user.profile.avatar %}
                <img src="{{ request.user.profile.avatar.url }}" class="avatar-img rounded-circle border border-slimegreen">
              {% else %}
                <img src="{% static 'img/noavatar.png' %}"class="avatar-img rounded-circle border border-slimegreen">
              {% endif %}
            </div>
            <p style="margin-left: 12px;">My profile</p>
          </a>
        {% else %}
          <a href="{% url "sign_up" %}">
            <i class="fas fa-sign-in-alt"></i>
            <p>Login / Register</p>
          </a>
        {% endif %}
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->

