{% extends "base.html" %}
{% load static %}
{% load add_class %}

{% block title %}Создание группы{% endblock %}
{% block description %}Создайте свою группу и пригласите в людей со схожими интересами{% endblock %}

{% block content %}

<div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title gradient-right">Создать группу</h4>
      </div>
      <div class="card-body">

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card card-attention">
            <div class="card-header">
              <h4 class="card-title gradient-right">Баннер</h4>
            </div>
            <div class="card-body banner">
                <img class="img-fluid banner-img" src="{% static 'img/nobanner.png' %}" id="banner">
            </div>
            <input type="file" name="banner" accept="image/*" class="form-control" id="id_banner">
          </div>

          <div class="row">
            <div class="col-md-4">

              <div class="card card-attention">
                <div class="card-header">
                  <h4 class="card-title gradient-right">Аватар</h4>
                </div>
                <div class="card-body">
                  <div class="avatar-container">
                    <div class="avatar-img avatar avatar-xl">
                      <img src="{% static 'img/noicon.png' %}" class="rounded-circle img-fluid" id="icon">
                    </div>
                  </div>
                  <input type="file" name="icon" accept="image/*" class="form-control" id="id_icon">
                </div>
              </div>

            </div>

            <div class="col-md-8">

              <div class="card card-attention"> 
                <div class="card-header">
                  <h4 class="card-title gradient-right">Информация о группе</h4>
                </div>
                <div class="card-body">
                  {% for field in create_form %}
                  <div class="row-md-4 mb-3">
                    <div class="form-label">{{ field.label_tag }}</div>
                    {{ field|add_class:"form-control" }}
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="card card-attention"> 
                <div class="card-header">
                  <h4 class="card-title gradient-right">Интересы группы</h4>
                </div>
                <div class="card-body">
                  {% for tag in tags %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ tag.id }}" id="id_{{ tag|lower }}" name="interests[]">
                    <label class="form-check-label gradient-right" for="id_{{ tag|lower }}">
                      {{ tag.name }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>

            </div>

            {% if create_form.errors %}
              <div class="row">
                <div class="alert alert-danger">
                  {{ create_form.non_field_errors }}
                </div>
              </div>
            {% endif %}
            
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>

          </div>
        </form>
      </div>
    </div>
</div>

<script>
  document.getElementById('id_icon').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const iconImg = document.getElementById('icon');
        iconImg.src = e.target.result;
      }
      reader.readAsDataURL(file);
    }
  });

  document.getElementById('id_banner').addEventListener('change', function(event) {
    const file = event.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        const bannerImg = document.getElementById('banner');
        bannerImg.src = e.target.result;
      }
      reader.readAsDataURL(file);
    }
  });
</script>
{% endblock %}

