{% extends "base.html" %}
{% load static %}
{% load add_class %}

{% block title %}Поиск групп{% endblock %}
{% block description %}
{% if just_loaded %}
Найдите группу по названию или интересам
{% else %}
Результаты поиска
{% endif %}
Результаты поиска по запросу {{ search_query }}
{%endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header">
        <div class="card-head-row card-tools-still-right">
          <h4 class="card-title gradient-right">Поиск Групп</h4>
        </div>

        <div class="row mt-2">
          <form class="search-widget container-fluid" action="{% url 'find_groups' %}" method="POST">
              <div class="input-group rounded">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Интересы
                  </button>
                  <div class="dropdown-menu">
                      {% for tag in tags %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{ tag.id }}" id="id_{{ tag|lower }}" name="interests[]"
                          {% if tag in group.tags.all %}checked{% endif %}>
                          <label class="form-check-label" for="id_{{ tag|lower }}">
                          {{ tag.name }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                </div>
                  {% csrf_token %}
                  {% for field in find_group_form %}
                      {{ field|add_class:"form-control group-input" }}
                  {% endfor %}
                  <div class="input-group-append">
                      <button class="btn group-button" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>
        </div>

        {% if not just_loaded %}
          {% if groups %}
          <p class="card-category">Результаты поиска по запросу <i>{{ search_query }}</i></p>
          {% else %}
          <p class="card-category text-danger">По вашему запросу <i>{{ search_query }}</i> ничего не найдено</p>
          {% endif %}
        {% endif %}

      </div>

      <div class="card-body">
        <div class="row">

          {% if groups and search_query %}
            {% for group in groups %}
            <div class="col-12 col-sm-6 col-lg-4">
              <div class="card card-attention">
                  <div class="card-body user-card">

                    <div class="avatar avatar-xxl">
                      {% if group.icon %}
                        <img class="avatar-xxl rounded-circle" src="{{ group.icon.url }}" alt="">
                      {% else %}
                        <img class="avatar-xxl rounded-circle" src="{% static 'img/noavatar.png' %}" alt="">
                      {% endif %}
                    </div>
                    <div class="user-info">
                      <a href="{% url 'group_detail' pk=group.pk %}"><span class="card-title">{{ group.name }}</span></a>
                      <span class="card-text" style="color: azure; font-size: 15px;">{{ group.description|truncatewords:20 }}</span>
                      <span class="card-category gradient-right" style="font-size: 17px;"><i class="fas fa-users"></i> {{ group.members.all|length }}</span>
                      <span class="card-text" style="color: azure; font-size: 15px;">{{ group.created_at }}</span>
                      <p class="card-category">{% for tag in group.tags.all %}#{{ tag }} {% endfor %}</p>
                    </div>

                  </div>

              </div>
            </div>
          {% endfor %}
          {% else %}
          <div class="text-center mb-3">
            <h4 class="card-title gradient-right">Популярные Группы</h4>
          </div>
          {% for group in groups %}
            <div class="row-12 row-sm-6 row-lg-4">
              <div class="card card-attention">
                <div class="card-body user-card">

                  <div class="avatar avatar-xxl">
                    {% if group.icon %}
                      <img class="avatar-xxl rounded-circle" src="{{ group.icon.url }}" alt="">
                    {% else %}
                      <img class="avatar-xxl rounded-circle" src="{% static 'img/noavatar.png' %}" alt="">
                    {% endif %}
                  </div>
                  <div class="user-info">
                    <a href="{% url 'group_detail' pk=group.pk %}"><span class="card-title">{{ group.name }}</span></a>
                    <span class="card-text" style="color: azure; font-size: 15px;">{{ group.description|truncatewords:20 }}</span>
                    <span class="card-category gradient-right" style="font-size: 17px;"><i class="fas fa-users"></i> {{ group.members.all|length }}</span>
                    <span class="card-text" style="color: azure; font-size: 15px;">{{ group.created_at }}</span>
                    <p class="card-category">{% for tag in group.tags.all %}#{{ tag }} {% endfor %}</p>
                  </div>

                </div>

              </div>
            </div>
          {% endfor %}
          {% endif %}
      </div>
    </div>

  </div>
</div>

{% endblock %}
