{% extends "base.html" %}
{% load static %}

{% block title %}Группа {{ group.name }}{% endblock %}
{% block description %}{{ group.description|truncatewords:15 }}{%endblock %}

{% block content %}

<div class="container">
  <div class="card">

    <div class="card-body">
      <div class="row">

        <div class="banner">
          {% if group.banner %}
            <img src="{{ group.banner.url }}" alt="Group Banner" class="banner-image">
          {% else %}
          <img src="{% static 'img/nobanner.png' %}" class="banner-image">
          {% endif %}
        
          <div class="avatar-container-banner">
            <div class="avatar avatar-xl banner-icon icon-img shadow-lg">
              {% if group.icon %}
                <img src="{{ group.icon.url }}" class="rounded-circle img-fluid border border-slimegreen">
              {% else %}
                <img src="{% static 'img/noicon.png' %}" class="rounded-circle img-fluid border border-slimegreen">
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="col-md-9">
            <div class="card card-attention">
              <div class="card-body">
                <div class="profile-info">
                  <h2 class="card-title">{{ group.name }}</h2>
                  <p style="color: aliceblue;">{{ group.created_at }}</p>
                  <p class="card-category">Создана <a class="card-category" href="{% url 'profile_detail' pk=group.created_by.pk %}">{{ group.created_by.username }}</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="card card-attention">
              <!-- <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                  <h4 class="card-title gradient-right">Участники группы ({{ group.members.all|length }})</h4>
                </div>
              </div> -->
              <div class="card-body">
                <h2 class="card-title gradient-right">Участники группы ({{ group.members.all|length }})</h2>
                <hr class="under-info" style="width: 65%;">
                <div class="avatar-group">
                  {% for member in group.members.all %}
                    {% if forloop.counter < 13 %}
                      <div class="avatar avatar-xs">
                        {% if member.profile.avatar %}
                          <img class="avatar-thumbnail rounded-circle border border-slimegreen" src="{{ member.profile.avatar.url }}" alt="">
                        {% else %}
                          <img class="avatar-thumbnail rounded-circle border border-slimegreen" src="{% static 'img/noavatar.png' %}">
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endfor %}
                  {% if group.members.count > 12 %}
                    <div class="avatar avatar-xs">
                      <div class="avatar-thumbnail rounded-circle border border-white d-flex align-items-center justify-content-center uncounted-members">
                        +{{ group.members.count|add:-12 }}
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <a href="{% url 'group_members' pk=group.pk %}">
                    <button class="btn btn-primary">Все Участники</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md">
          <div class="col-md">
            <div class="card card-attention">
              <div class="card-body">
                <h2 class="card-title gradient-right">Описание</h2>
                <hr class="under-info" style="width: 50%;">
                <p style="color: #cecece;">{{ group.description }}</p>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="card card-attention">
              <!-- <div class="card-header">
                <div class="card-head-row card-tools-still-right">
                  <h4 class="card-title gradient-right">Интересы</h4>
                </div>
              </div> -->
              <div class="card-body">
                <h2 class="card-title gradient-right">Интересы</h2>
                <hr class="under-info" style="width: 75%;">
                <span class="h4 gradient-right">{% for tag in group.tags.all %}#{{ tag }} {% endfor %}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              {% if user.is_authenticated %}
                {% if group.created_by == request.user %}
                  <div class="p-2">
                    <a href="{% url 'edit_group' pk=group.pk %}">
                      <button class="btn btn-primary">Редактировать группу</button>
                    </a>
                  </div>
                  <div class="p-2">
                    <a href="{% url 'delete_group' pk=group.pk %}">
                      <button class="btn btn-danger">удалить группу</button>
                    </a>
                  </div>
                {% else %}
                  {% if request.user not in group.members.all %}
                    <form action="{% url 'join_group' group.id %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-primary" type="submit">Подписаться</button>
                    </form>
                  {% else %}
                      <form action="{% url 'leave_group' group.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Отписаться</button>
                      </form>
                  {% endif %}
                {% endif %}
              {% else %}
                <a href="{% url 'edit_group' pk=group.pk %}">
                  <button class="btn btn-primary">Войдите, чтобы присоединиться к группе</button>
                </a>
              {% endif %}
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

{% endblock %}
