{% extends "base.html" %}
{% load static %}

{% block title %}Мои группы{% endblock %}
{% block description %}Группы в которых вы состоите{%endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-round">
      <div class="card-header">
        <div class="card-head-row card-tools-still-right">
          <h4 class="card-title gradient-right">Мои Группы</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">

        {% for group in groups %}
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="card card-attention">
              <div class="card-body user-card">

                <div class="avatar avatar-xxl">
                  {% if group.icon %}
                    <img class="avatar-xxl rounded-circle" src="{{ group.icon.url }}" alt="">
                  {% else %}
                    <img class="avatar-xxl rounded-circle" src="{% static 'img/noicon.png' %}" alt="">
                  {% endif %}
                </div>
                <div class="user-info">
                  <a href="{% url 'group_detail' pk=group.pk %}"><span class="card-title">
                  {% if group.created_by == user %}
                    <i class="fas fa-chess-king"></i>
                  {% endif %}
                    {{ group.name }}</span>
                  </a>
                  <span class="card-text" style="color: azure; font-size: 15px;">{{ group.description|truncatewords:20 }}</span>
                  <span class="card-text" style="color: azure; font-size: 15px;">{{ group.created_at }}</span>
                  <p class="card-category">{% for tag in group.tags.all %}#{{ tag }} {% endfor %}</p>
                </div>

              </div>
          </div>
        </div>
        {% endfor %}
      </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}

