<nav class="navbar navbar-header-left nav-search">
    <form class="search-widget container-fluid" id="search" action="{% url 'profile_search' %}" method="POST">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-search pe-1"><i class="fa fa-search"></i></button>
            </div>
            {% csrf_token %}
            {% for field in search_form %}
                {{ field }}
            {% endfor %}
        </div>
    </form>
</nav>

