<nav class="navbar navbar-header-left nav-search">
    <form class="search-widget container-fluid" id="search" action="{% url 'profile_search' %}" method="POST">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-search pe-1"><i class="fa fa-search"></i></button>
            </div>
            {% csrf_token %}
            {% for field in search_form %}
                {{ field }}
            {% endfor %}
            <div class="input-group-append">
                <button class="btn btn-primary btn-border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Интересы
                </button>
                <div class="dropdown-menu">
                    {% for tag in tags %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ tag.id }}" id="id_{{ tag|lower }}" name="tags[]"
                        {% if tag in group.tags.all %}checked{% endif %}>
                        <label class="form-check-label" for="id_{{ tag|lower }}">
                        {{ tag.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</nav>

